@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

section {
  border: solid 1px black;
  background: red;
}

.intro-section {
  padding-top: 100px;
  padding-bottom: 7.75rem;
}

.gutter-sm {
  @apply my-2;
}

.gutter-lg {
  @apply my-4;
}
